.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: relative;

  /* background-color: rgb(13, 75, 13); Tereza color */
  background-color: rgb(18, 61, 18); /* Aggeliki color */
  /* background-color: rgb(17, 82, 36);  Kostas color */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Indie Flower", cursive;
  user-select: none;
  color: white;
}
#root,
.App {
  width: 100%;
  height: 100%;
  position: relative;
}

*,
*::before,
*::after {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 15rem;
  height: 15rem;
  border: 2px solid rgb(255, 255, 255);
}

.Square {
  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size */
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border: 2px solid rgb(255, 255, 255);
}
.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0;
}

.GameEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-over {
  font-size: 2rem;
}
.Controls {
  display: flex;
}
.ControlsIcon {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Size */
  height: 3rem;
  width: 3rem;

  /* White */
  filter: invert(1);
}
.Refresh {
  margin-right: 1rem;
}

.Refresh:hover .RefreshImage {
  transform: rotate(360deg);
}
.RefreshImage {
  transition: all 0.5s linear;
  transform-origin: center;
}
.ControlsImage {
  width: 100%;
  height: 100%;
}
.Exit:hover {
  transform: skew(-20deg) scale(1.1);
}
.PlayAgain {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  transition: color 0.5s;
}
.PlayAgain:hover {
  color: white;
}
.PlayAgain:hover::after {
  transform: scale(1.5);
}
.PlayAgain:hover::before {
  transform: scale(1.5) rotateY(180deg);
}
.PlayAgain::before {
  transition: all 0.5s;
  content: "🎉";
  position: absolute;
  top: 5px;
  right: -40px;
}
.PlayAgain::after {
  transition: all 0.5s;
  content: "🎉";
  position: absolute;
  top: 5px;
  left: -40px;
  transform: rotateY(180deg);
}
.GameLogo {
  font-size: 5rem;
  color: white;
}

.PlayButton {
  font-size: 4rem;
  color: white;
  border: 10px solid white;
  padding: 0 3rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-radius: 30px 80px;

  animation: playfulBorders 1s linear infinite alternate-reverse;
}
.PlayButton:hover {
  color: rgb(18, 61, 18);
  background-color: white;
  border-radius: 80px 30px;
  transform: skew(20deg);
}

@keyframes playfulBorders {
  from {
    transform: scale(1) skew(-10deg);
  }

  to {
    transform: scale(1.2) skew(10deg);
  }
}

.XMark {
  color: rgb(22, 104, 170);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OMark {
  color: tomato;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tic {
  color: cyan;
  position: relative;
}
.Tic::before {
  content: "💤";
  position: absolute;
  top: -30px;
  font-size: 2rem;
  transition: all 0.5s linear;
}

.Tic:hover::before {
  /* filter: hue-rotate(90deg); */
  transform: scale(1.3);
  animation: colorChange 1s infinite forwards alternate,
    bounce 0.5s infinite alternate ease-out;
}

.Tac {
  color: yellow;
  position: relative;
}
.Tac::before {
  content: "👍";
  position: absolute;
  top: -30px;
  font-size: 2rem;
  right: 50px;
  transition: transform 2s;
}
.Tac::after {
  content: "🤔";
  position: absolute;
  bottom: -30px;
  font-size: 2rem;
  left: 55px;
}
.Tac:hover::after {
  content: "🙃";
}
.Tac:hover::before {
  transform: rotate(360deg);
}
.Toe {
  color: tomato;
  position: relative;
}

.Toe::before {
  content: "💢";
  position: absolute;
  transition: transform 0.5s;
  top: -30px;
  right: 30px;
  font-size: 2rem;
}
.Toe:hover::before {
  transform: scale(8) rotate(275deg);
}
@keyframes colorChange {
  from {
    filter: hue-rotate(0);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px);
  }
}
